<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
</head>
<body>
    <div class="Navbar">
        <div class="Navbar-section">
            
            <div class="Navbar-content">
                
                <i class="fa-solid fa-dragon"></i>
                <span>LOGO</span>
                
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="services.html#services">Our Services</a></li>
                    <li><a href="contact.html#contact">Contact Us</a></li>
                </ul>

            </div>
            

        </div>
        
    </div>
    <div class="Contact" id="contact">
        <div class="contact-section">
            <div class="contact-content">
                <img src="../images/Free Vector _ Software developers during coding composition with creative decisions algorithmic complexity documentation by programming languages isometric.jpeg" alt="">

            </div>
            <div class="contact-right">
                <form>
                    <input type="text" name="FullName" placeholder="Full Name" required>
                    <input type="Email" name="Email" placeholder="Email" required>
                    <textarea name="message" id=""  rows="6" placeholder="Type Here" required ></textarea></br>
                    <button class="btn">SUBMIT</button>
                </form>

            </div>
            
        </div>
    </div>
    
    
        
  
</body>
</html>