<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css"> 
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../defaults.css">
</head>
<body>
    <div class="Navbar">
        <div class="Navbar-section">
            
            <div class="Navbar-content">
                
                <i class="fa-solid fa-dragon"></i>
                <span>LOGO</span>
                
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="services.html#services"> Our Services</a></li>
                    <li><a href="contact.html#contact">Contact Us</a></li>
                </ul>

            </div>
            

        </div>
        
    </div>
    <div class="home"></div>

   
 
</body>
</html>